checkpoints/
common/__pycache__/
data/__pycache__/
data/conversions/
data/smpl/
data/smplx/
data/smpl_partSegmentation_mapping.pkl
data/weights/
SLURM_OUTS/
example_images/
datasets/
deco_results/
demo_out/
jobs/
models/__pycache__/
train/__pycache__/
utils/__pycache__/
vis/__pycache__/visualize.cpython-39.pyc
__pycache__/

runs/
cache/

*.pkl

dino-contact_results/
dino-contact-for-real_results/
deco_dino_backbone_outputs/
deco_dino_backbone_results/
deco_baseline_out/
DECO_2_enc_DINO_BCKBN_FINETUNE_results/
challenges/
*_out/
*_results/
out/
RICH/
rich/

*.zip
Mask2Former/