__pycache__/
datasets/HOT-Annotated/
datasets/__MACOSX/
datasets/Release_Datasets/
data/smpl/
data/smplx/
data/weights/
SLURM_OUTS/
example_images/
jobs/
deco_results/
demo_out/
checkpoints/
*.tar.gz
*.npz
*.pkl
*.pth
datasets/
data/conversions/
data/smpl/
data/smplx/
data/weights/
hot_analysis/filtered_data/
hot_analysis/temp_images/